**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
data
data/
checkpoint
report/
term1_P2.data-00000-of-00001
term1_P2.index
term1_P2.meta
term1/p02_trafficSign/P02-TrafficSignRecognition_gmp.zip
exportToHTML/
run/
run1_t2/
run2_t2/
run2.mp4
run2/
tmp/

term1/p01_laneLines/test_images/out_challenge1.jpg
term1/p01_laneLines/test_images/out_challenge2.jpg
term1/p01_laneLines/test_images/out_out_challenge1.jpg
term1/p01_laneLines/test_images/out_out_challenge2.jpg
term1/p01_laneLines/test_images/out_out_out_challenge1.jpg
term1/p01_laneLines/test_images/out_out_out_challenge2.jpg
term1/p01_laneLines/test_images/out_out_out_solidWhiteCurve.jpg
term1/p01_laneLines/test_images/out_out_out_solidWhiteRight.jpg
term1/p01_laneLines/test_images/out_out_out_solidYellowCurve.jpg
term1/p01_laneLines/test_images/out_out_out_solidYellowCurve2.jpg
term1/p01_laneLines/test_images/out_out_out_solidYellowLeft.jpg
term1/p01_laneLines/test_images/out_out_out_whiteCarLaneSwitch.jpg
term1/p01_laneLines/test_images/out_out_solidWhiteCurve.jpg
term1/p01_laneLines/test_images/out_out_solidWhiteRight.jpg
term1/p01_laneLines/test_images/out_out_solidYellowCurve.jpg
term1/p01_laneLines/test_images/out_out_solidYellowCurve2.jpg
term1/p01_laneLines/test_images/out_out_solidYellowLeft.jpg
term1/p01_laneLines/test_images/out_out_whiteCarLaneSwitch.jpg
term1/p01_laneLines/test_images/out_solidWhiteCurve.jpg
term1/p01_laneLines/test_images/out_solidWhiteRight.jpg
term1/p01_laneLines/test_images/out_solidYellowCurve.jpg
term1/p01_laneLines/test_images/out_solidYellowCurve2.jpg
term1/p01_laneLines/test_images/out_solidYellowLeft.jpg
term1/p01_laneLines/test_images/out_whiteCarLaneSwitch.jpg

term1/p04_advLaneFinding/p04_advLaneFinding.zip
term1/p04_advLaneFinding/p04_advLaneFinding1.zip
term1/p04_advLaneFinding/p04_out1.mp4
term1/p04_advLaneFinding/p04_out2.mp4
term1/p04_advLaneFinding/p04_out3.mp4
term1/p04_advLaneFinding/p04_out4.mp4
term1/p04_advLaneFinding/submit.txt
term1/p04_advLaneFinding/writeup_report.pdf
term1/p04_advLaneFinding/example_writeup.pdf
term1/p04_advLaneFinding/project_video.mp4
term1/p04_advLaneFinding/.idea/workspace.xml
term1/p04_advLaneFinding/.idea/workspace.xml

term1/p05_vehicleDetection/non-vehicles.zip
term1/p05_vehicleDetection/vehicles.zip
term1/p05_vehicleDetection/p05_out1.mp4
term1/p05_vehicleDetection/p05_out3.mp4
term1/p05_vehicleDetection/p05_out31.mp4
term1/p05_vehicleDetection/p05_out_full1.mp4
term1/p05_vehicleDetection/p05_out_full2.mp4
term1/p05_vehicleDetection/p05_out_full3.mp4
term1/p05_vehicleDetection/p05_vehicleDetection.zip
term1/p05_vehicleDetection/project_video_clp1.mp4
term1/p05_vehicleDetection/project_video_clp2.mp4
term1/p05_vehicleDetection/project_video_clp3.mp4
term1/p05_vehicleDetection/examples/
term1/p05_vehicleDetection/gtest/
term1/p05_vehicleDetection/train_images/


